/*
	* See Screenshot
	* Style to match
	* Add to existing styling
*/

.container {
	background: url("../img/bg.png");
	font-size: 1.25em;
	border-width: 960px;
	
}

h3 {
	font-family: Consolas, monaco, monospace;
	text-transform: uppercase;	
}

h3 img {
	padding-right: 20px; 
}

section {
	padding: 10px;
	width: 960px auto;
}

.clearfix {
	clear: both;
}

.row1 {
	width:320px;

}

.row2 {
	width:480px;
}

/* Row 1 Styling 
	HINT: How many pixels are being used horizontally? 

.clearfix {
	clear: both;

*/


/* Row 2 Styling 
	HINT: How many pixels are being used horizontally? 
*/


/* ONLY 1st Paragraph, After Section Heading, should have this styling */
p {
	font-style: italic;
	font-weight: bold;
	text-align: center;
}